body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0; /* Very light grey background */
}

.navbar {
    height: 50px;
    background-color: #3664BE;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    position: relative; /* Ensure positioning context for the dropdown */
}

.rh-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ccc;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* z-index: 1000; */
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
}

.hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.site-title {
    color: white;
    font-size: 1.2em;
}

.hero-banner {
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-direction: column; /* Ensure vertical layout for mobile */
}

.hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.avatar-container {
    margin-right: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #3664BE;
}

.hero-text {
    text-align: left;
}

.hero-text h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1;
}

.hero-text p {
    margin: 5px 0;
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribute space evenly */
    /* gap: 10px; */
    margin-top: 20px; /* Add margin to separate from text */
    width: 100%; /* Ensure full width */
    max-width: 800px;
    background-color: #ffffff;
    /* background-color: #f0f0f0; /* Very light grey background */
}

.button-container button {
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    border: 0px;
    /* border: 2px solid #3664BE; */
    padding: 10px 15px;
    /* border-radius: 5px; */
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1; /* Allow buttons to grow equally */
    /* margin: 0 5px; /* Add margin to buttons for spacing */
}

.button-container button:hover {
    /* background-color: #3664BE; */
    background-color: #f0f0f0;
    text-transform: uppercase;
    /* font-weight: bold; */
}

.button-container button.selected {
    background-color: #f0f0f0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.content-section {
    display: none;
    margin: 20px auto;
    width: 95%;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.profile-text {
    font-size: 1em;
    line-height: 1.6;
}
.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    max-width: 800px;
}

.carousel-container {
    flex: 1;
    overflow: hidden;
    margin: 0 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.job-entry {
    min-width: 100%;
}

.carousel-button {
    background-color: #f0f0f0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 1em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button#prevBtn {
    margin-right: 10px;
}

.carousel-button#nextBtn {
    margin-left: 10px;
}

.carousel-button:focus {
    outline: none;
}

.job-title {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.employer {
    color: grey;
    font-size: 1em;
    margin-bottom: 5px;
}

.date-range {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.position-summary {
    font-size: 1em;
    line-height: 1.6;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-column h3 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skills-column h3 i {
    margin-right: 10px;
}

.skills-column ul {
    list-style: none;
    padding: 0;
}

.skills-column li {
    margin-bottom: 5px;
}

.content-section p {
    font-size: 1em;
    text-align: center;
    line-height: 1.6;
}

.content-section a {
    color: #3664BE;
    text-decoration: none;
    font-weight: bold;
}

.content-section a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .hero-content {
        flex-direction: column; /* Stack avatar and text vertically on small screens */
    }
    .avatar-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hero-text {
        text-align: center;
    }
    .button-container {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }
    .button-container button {
        margin: 5px 0; /* Adjust margin for vertical stacking */
    }
}
